.textForm{
  width: 70%;
  margin-top: 2vw;
}
.Dark {
    background-color: #333;
    color: #fff;
  }
  .Light {
    background-color: #fff;
    color: #333;
  }
  .oval-box{
    color: #fff;
  }
/* 
  @media (max-width: 800px) {
   
  } */